
**SECTION A: BASIC DATA UNDERSTANDING**

**1. Dataset Exploration**

In [ ]:
# 1. Load the job market dataset into a Pandas DataFrame.
import pandas as pd
df = pd.read_csv("Job_Trend_Market.csv")

In [ ]:
# 2. Display the first 5 job records.
df.head()

,Job_id,Industry,Job_Role,Region,City,Employment_Status,Industry_Demand,Min_Salary,Max_Salary,Growth_Rate(1-10),Skill_Rate(1-5),Availability,Joining_Date,Experience(in Year)
0,1,Technology,Engineer,South,Bangalore,Full-time,High Demand,45000.0,90000.0,9.0,4.5,High,01-02-2016,9.0
1,2,Healthcare,Nursing,West,Mumbai,Internship,Moderate,30000.0,60000.0,7.5,4.0,Low,08-03-2019,6.0
2,3,Finance,Fintech Analyst,North,Gurugram,Full-time,High Demand,40000.0,85000.0,8.0,4.2,High,13-04-2016,9.0
3,4,Education,Online Educator,North,Delhi,Contract,Stable Growth,25000.0,50000.0,6.5,3.8,Medium,19-05-2016,9.0
4,5,Manufacturing,Robotics Technician,West,Pune,Full-time,Moderate,35000.0,75000.0,7.0,4.1,Medium,24-06-2019,6.0

In [ ]:
#3. Display the last 5 job records.
df.tail()

,Job_id,Industry,Job_Role,Region,City,Employment_Status,Industry_Demand,Min_Salary,Max_Salary,Growth_Rate(1-10),Skill_Rate(1-5),Availability,Joining_Date,Experience(in Year)
95,96,Sales,Key Account Manager,West,Mumbai,Full-Time,High,NaN,1400000.0,8.0,4.0,High,13-06-2025,0.0
96,97,IT,Cloud Engineer,South,Hyderabad,Full-Time,High,900000.0,1800000.0,9.0,5.0,High,19-07-2024,NaN
97,98,Marketing,Advertising Manager,West,Pune,Full-Time,Moderate,600000.0,1200000.0,8.0,4.0,High,24-08-2018,7.0
98,99,Construction,Site Manager,East,Kolkata,Full-Time,Stable Growth,700000.0,1500000.0,8.0,NaN,High,29-09-2017,8.0
99,100,Engineering,Electrical Engineer,South,Bangalore,Full-Time,High,800000.0,1600000.0,8.0,4.0,High,04-11-2024,1.0

In [ ]:
#4.Find the total number of job roles listed.
print("Total Jobs:", df.shape[0])

Total Jobs: 100

In [ ]:
# 5.Display all column names.
df.columns

Index(['Job_id', 'Industry', 'Job_Role', 'Region', 'City', 'Employment_Status',
       'Industry_Demand', 'Min_Salary', 'Max_Salary', 'Growth_Rate(1-10)',
       'Skill_Rate(1-5)', 'Availability', 'Joining_Date',
       'Experience(in Year)'],
      dtype='object')

In [ ]:
# 6.Check data types of each column.
df.dtypes

Job_id                   int64
Industry                object
Job_Role                object
Region                  object
City                    object
Employment_Status       object
Industry_Demand         object
Min_Salary             float64
Max_Salary             float64
Growth_Rate(1-10)      float64
Skill_Rate(1-5)        float64
Availability            object
Joining_Date            object
Experience(in Year)    float64
dtype: object

In [ ]:
# 7.Identify missing or inconsistent values.
df.isnull().sum()

Job_id                 0
Industry               0
Job_Role               0
Region                 0
City                   0
Employment_Status      0
Industry_Demand        0
Min_Salary             3
Max_Salary             3
Growth_Rate(1-10)      3
Skill_Rate(1-5)        2
Availability           0
Joining_Date           0
Experience(in Year)    3
dtype: int64

In [ ]:
# 8.Count the number of jobs by Industry.
print(df["Industry"].value_counts())

Industry
Information Technology    22
Marketing                 12
Healthcare                12
Finance                   11
Education                  7
Design & UX                7
Management                 5
Construction               4
IT                         3
Legal                      2
Sales                      2
Retail                     2
Energy                     2
Engineering                2
Technology                 1
Manufacturing              1
Human Resources            1
Operations                 1
Science                    1
Hospitality                1
IT Support                 1
Name: count, dtype: int64

In [ ]:
# 9. Count the number of jobs by Region.
df["Region"].value_counts()

Region
South    42
West     28
North    25
East      5
Name: count, dtype: int64

In [ ]:
# 10. List unique Employment Status values.
df["Employment_Status"].unique()

array(['Full-time', 'Internship', 'Contract', 'Part-time', 'Full-Time',
       'Part-Time'], dtype=object)

**SECTION B – FILTERING & CLEANING**

**2. Filtering Operations**

In [ ]:
# 11. Display all Full-time job roles.
full_time = df[df["Employment_Status"] == "Full-time"]

In [ ]:
# 12. Filter jobs with High Demand.
high_demand = df[df["Industry_Demand"] == "High Demand"]

In [ ]:
# 13. Find jobs with minimum salary above ₹50,000.
minSalary_above_50K = df[df["Min_Salary"] > 50000]
minSalary_above_50K

,Job_id,Industry,Job_Role,Region,City,Employment_Status,Industry_Demand,Min_Salary,Max_Salary,Growth_Rate(1-10),Skill_Rate(1-5),Availability,Joining_Date,Experience(in Year)
13,14,Information Technology,Data Scientist,South,Bangalore,Full-Time,High,1200000.0,2500000.0,9.0,5.0,High,14-05-2017,8.0
14,15,Information Technology,Data Analyst,West,Mumbai,Full-Time,High,600000.0,1200000.0,8.0,4.0,High,19-06-2018,7.0
15,16,Information Technology,Blockchain Engineer,North,Delhi,Full-Time,High,1000000.0,NaN,9.0,5.0,High,25-07-2019,6.0
16,17,Design & UX,UX Designer,South,Chennai,Full-Time,Stable Growth,800000.0,1500000.0,8.0,4.0,High,30-08-2020,5.0
17,18,Information Technology,Cyber Security Engineer,South,Hyderabad,Full-Time,High,1000000.0,1800000.0,9.0,5.0,High,05-10-2017,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,95,Education,Academic Coordinator,North,Delhi,Full-Time,Stable Growth,400000.0,800000.0,7.0,4.0,High,08-05-2023,2.0
96,97,IT,Cloud Engineer,South,Hyderabad,Full-Time,High,900000.0,1800000.0,9.0,5.0,High,19-07-2024,NaN
97,98,Marketing,Advertising Manager,West,Pune,Full-Time,Moderate,600000.0,1200000.0,8.0,4.0,High,24-08-2018,7.0
98,99,Construction,Site Manager,East,Kolkata,Full-Time,Stable Growth,700000.0,1500000.0,8.0,NaN,High,29-09-2017,8.0
99,100,Engineering,Electrical Engineer,South,Bangalore,Full-Time,High,800000.0,1600000.0,8.0,4.0,High,04-11-2024,1.0

In [ ]:
#14. Display jobs with maximum salary above ₹1,00,000.
maxSalaryabove_1l = df[df["Max_Salary"] > 100000]
maxSalaryabove_1l

,Job_id,Industry,Job_Role,Region,City,Employment_Status,Industry_Demand,Min_Salary,Max_Salary,Growth_Rate(1-10),Skill_Rate(1-5),Availability,Joining_Date,Experience(in Year)
13,14,Information Technology,Data Scientist,South,Bangalore,Full-Time,High,1200000.0,2500000.0,9.0,5.0,High,14-05-2017,8.0
14,15,Information Technology,Data Analyst,West,Mumbai,Full-Time,High,600000.0,1200000.0,8.0,4.0,High,19-06-2018,7.0
16,17,Design & UX,UX Designer,South,Chennai,Full-Time,Stable Growth,800000.0,1500000.0,8.0,4.0,High,30-08-2020,5.0
17,18,Information Technology,Cyber Security Engineer,South,Hyderabad,Full-Time,High,1000000.0,1800000.0,9.0,5.0,High,05-10-2017,8.0
18,19,Information Technology,Cloud Developer,South,Bangalore,Full-Time,High,1200000.0,2200000.0,9.0,5.0,High,10-11-2021,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Sales,Key Account Manager,West,Mumbai,Full-Time,High,NaN,1400000.0,8.0,4.0,High,13-06-2025,0.0
96,97,IT,Cloud Engineer,South,Hyderabad,Full-Time,High,900000.0,1800000.0,9.0,5.0,High,19-07-2024,NaN
97,98,Marketing,Advertising Manager,West,Pune,Full-Time,Moderate,600000.0,1200000.0,8.0,4.0,High,24-08-2018,7.0
98,99,Construction,Site Manager,East,Kolkata,Full-Time,Stable Growth,700000.0,1500000.0,8.0,NaN,High,29-09-2017,8.0
99,100,Engineering,Electrical Engineer,South,Bangalore,Full-Time,High,800000.0,1600000.0,8.0,4.0,High,04-11-2024,1.0

In [ ]:
# 15. Find jobs located in Mumbai.
mumbai = df[df["City"] == "Mumbai"]
mumbai

,Job_id,Industry,Job_Role,Region,City,Employment_Status,Industry_Demand,Min_Salary,Max_Salary,Growth_Rate(1-10),Skill_Rate(1-5),Availability,Joining_Date,Experience(in Year)
1,2,Healthcare,Nursing,West,Mumbai,Internship,Moderate,30000.0,60000.0,7.5,4.0,Low,08-03-2019,6.0
7,8,Finance,Financial Analyst,West,Mumbai,Contract,Stable Growth,40000.0,80000.0,9.0,4.5,Medium,10-10-2016,9.0
14,15,Information Technology,Data Analyst,West,Mumbai,Full-Time,High,600000.0,1200000.0,8.0,4.0,High,19-06-2018,7.0
20,21,Marketing,Digital Marketing Specialist,West,Mumbai,Full-Time,High Demand,NaN,1200000.0,8.0,4.0,High,21-01-2018,7.0
24,25,Finance,Financial Analyst,West,Mumbai,Contract,Moderate,500000.0,1000000.0,NaN,4.0,Medium,14-06-2025,0.0
31,32,Marketing,SEO Specialist,West,Mumbai,Contract,Moderate,400000.0,800000.0,7.0,3.0,Medium,21-02-2020,5.0
37,38,Finance,Investment Analyst,West,Mumbai,Full-Time,High,1200000.0,2400000.0,9.0,5.0,High,25-09-2016,9.0
43,44,Marketing,Email Marketing Specialist,West,Mumbai,Contract,Stable Growth,300000.0,600000.0,7.0,3.0,Medium,28-04-2022,3.0
50,51,Marketing,Brand Manager,West,Mumbai,Full-Time,High,1000000.0,2000000.0,8.0,4.0,High,05-01-2021,4.0
57,58,Management,Supply Chain Manager,West,Mumbai,Full-Time,High,1200000.0,NaN,8.0,4.0,High,14-09-2024,1.0
63,64,Finance,Business Consultant,West,Mumbai,Contract,Stable Growth,500000.0,1200000.0,8.0,4.0,Medium,18-04-2022,3.0
65,66,Finance,Financial Analyst,West,Mumbai,Contract,Moderate,500000.0,1000000.0,7.0,4.0,Medium,29-06-2024,1.0
76,77,Sales,Sales Executive,West,Mumbai,Part-Time,Moderate,300000.0,700000.0,6.0,4.0,High,30-07-2017,8.0
85,86,Finance,Investment Banker,West,Mumbai,Full-Time,High,1200000.0,2500000.0,9.0,5.0,High,18-06-2024,1.0
95,96,Sales,Key Account Manager,West,Mumbai,Full-Time,High,NaN,1400000.0,8.0,4.0,High,13-06-2025,0.0

In [ ]:
#16. Filter jobs with experience ≥ 8 years.
experience = df[df["Experience(in Year)"] >= 8]
experience

,Job_id,Industry,Job_Role,Region,City,Employment_Status,Industry_Demand,Min_Salary,Max_Salary,Growth_Rate(1-10),Skill_Rate(1-5),Availability,Joining_Date,Experience(in Year)
0,1,Technology,Engineer,South,Bangalore,Full-time,High Demand,45000.0,90000.0,9.0,4.5,High,01-02-2016,9.0
2,3,Finance,Fintech Analyst,North,Gurugram,Full-time,High Demand,40000.0,85000.0,8.0,4.2,High,13-04-2016,9.0
3,4,Education,Online Educator,North,Delhi,Contract,Stable Growth,25000.0,50000.0,6.5,3.8,Medium,19-05-2016,9.0
7,8,Finance,Financial Analyst,West,Mumbai,Contract,Stable Growth,40000.0,80000.0,9.0,4.5,Medium,10-10-2016,9.0
8,9,Healthcare,Physician,North,Delhi,Full-time,Moderate,50000.0,100000.0,7.5,4.3,Low,15-11-2016,9.0
9,10,Education,Professor,South,Hyderabad,Full-time,Stable Growth,48000.0,95000.0,6.2,4.0,Low,15-11-2016,9.0
10,11,IT,DevOps Engineer,North,Gurgaon,Full-time,Moderate,50000.0,100000.0,9.5,4.6,High,26-01-2017,8.0
11,12,Retail,Sales Executive,West,Pune,Part-time,Stable Growth,24000.0,45000.0,5.5,NaN,Medium,03-03-2017,8.0
12,13,Construction,Civil Engineer,East,Kolkata,Full-time,Moderate,37000.0,75000.0,7.0,4.3,Medium,08-04-2016,9.0
13,14,Information Technology,Data Scientist,South,Bangalore,Full-Time,High,1200000.0,2500000.0,9.0,5.0,High,14-05-2017,8.0
17,18,Information Technology,Cyber Security Engineer,South,Hyderabad,Full-Time,High,1000000.0,1800000.0,9.0,5.0,High,05-10-2017,8.0
26,27,Marketing,Content Writer,West,Pune,Part-Time,Moderate,250000.0,600000.0,6.0,3.0,High,25-08-2016,9.0
27,28,Healthcare,Medical Coder,North,Gurugram,Contract,Stable Demand,350000.0,700000.0,7.0,3.0,Medium,30-09-2016,9.0
28,29,Design & UX,Graphic Designer,South,Chennai,Part-Time,High Demand,300000.0,700000.0,7.0,4.0,High,05-11-2017,8.0
37,38,Finance,Investment Analyst,West,Mumbai,Full-Time,High,1200000.0,2400000.0,9.0,5.0,High,25-09-2016,9.0
38,39,Marketing,Social Media Manager,South,Chennai,Part-Time,Moderate,350000.0,800000.0,7.0,4.0,High,31-10-2017,8.0
46,47,Management,Operations Manager,North,Delhi,Full-Time,High,1000000.0,2200000.0,8.0,4.0,High,14-08-2016,9.0
47,48,Information Technology,Backend Developer,South,Chennai,Full-Time,High,800000.0,1600000.0,8.0,4.0,High,19-09-2016,9.0
48,49,Healthcare,Laboratory Technician,East,Kolkata,Contract,Moderate,250000.0,600000.0,6.0,3.0,Medium,25-10-2017,8.0
76,77,Sales,Sales Executive,West,Mumbai,Part-Time,Moderate,300000.0,700000.0,6.0,4.0,High,30-07-2017,8.0
82,83,Legal,Paralegal,North,Delhi,Contract,Moderate,300000.0,600000.0,7.0,3.0,Medium,02-03-2016,9.0
83,84,Energy,Petroleum Engineer,South,Hyderabad,Full-Time,High,600000.0,1200000.0,8.0,4.0,High,07-04-2017,8.0
91,92,Finance,Compliance Officer,North,Gurugram,Contract,High,600000.0,1200000.0,8.0,4.0,Medium,20-01-2016,9.0
92,93,Healthcare,Dietitian,South,Chennai,Part-Time,Moderate,300000.0,600000.0,6.0,3.0,High,25-02-2017,8.0
98,99,Construction,Site Manager,East,Kolkata,Full-Time,Stable Growth,700000.0,1500000.0,8.0,NaN,High,29-09-2017,8.0

In [ ]:
# 17. Display jobs with skill rate ≥ 4.5.
skill = df[df["Skill_Rate(1-5)"] >= 4.5]
skill

,Job_id,Industry,Job_Role,Region,City,Employment_Status,Industry_Demand,Min_Salary,Max_Salary,Growth_Rate(1-10),Skill_Rate(1-5),Availability,Joining_Date,Experience(in Year)
0,1,Technology,Engineer,South,Bangalore,Full-time,High Demand,45000.0,90000.0,9.0,4.5,High,01-02-2016,9.0
6,7,Energy,Renewable Energy Engineer,South,Hyderabad,Full-time,Emerging,50000.0,95000.0,8.5,4.6,Low,04-09-2020,5.0
7,8,Finance,Financial Analyst,West,Mumbai,Contract,Stable Growth,40000.0,80000.0,9.0,4.5,Medium,10-10-2016,9.0
10,11,IT,DevOps Engineer,North,Gurgaon,Full-time,Moderate,50000.0,100000.0,9.5,4.6,High,26-01-2017,8.0
13,14,Information Technology,Data Scientist,South,Bangalore,Full-Time,High,1200000.0,2500000.0,9.0,5.0,High,14-05-2017,8.0
15,16,Information Technology,Blockchain Engineer,North,Delhi,Full-Time,High,1000000.0,NaN,9.0,5.0,High,25-07-2019,6.0
17,18,Information Technology,Cyber Security Engineer,South,Hyderabad,Full-Time,High,1000000.0,1800000.0,9.0,5.0,High,05-10-2017,8.0
18,19,Information Technology,Cloud Developer,South,Bangalore,Full-Time,High,1200000.0,2200000.0,9.0,5.0,High,10-11-2021,4.0
22,23,Management,Product Manager,South,Hyderabad,Full-Time,High,1500000.0,3000000.0,9.0,5.0,High,03-04-2024,1.0
29,30,Information Technology,AI/ML Engineer,South,Bangalore,Full-Time,High,1400000.0,2800000.0,9.0,5.0,High,11-12-2018,NaN
37,38,Finance,Investment Analyst,West,Mumbai,Full-Time,High,1200000.0,2400000.0,9.0,5.0,High,25-09-2016,9.0
42,43,Information Technology,Mobile App Developer,South,Hyderabad,Full-Time,High,800000.0,1600000.0,8.0,5.0,High,23-03-2021,4.0
53,54,Information Technology,Full Stack Developer,South,Chennai,Full-Time,High,1000000.0,2000000.0,9.0,5.0,High,23-04-2020,5.0
59,60,Information Technology,AI Trainer,South,Hyderabad,Full-Time,High,1000000.0,2000000.0,9.0,5.0,High,25-11-2023,2.0
71,72,Legal,Corporate Lawyer,North,Gurugram,Contract,High,1000000.0,2000000.0,8.0,5.0,Medium,31-01-2019,6.0
74,75,Information Technology,AI/ML Engineer,South,Bangalore,Full-Time,High,1400000.0,2800000.0,9.0,5.0,High,19-05-2018,7.0
85,86,Finance,Investment Banker,West,Mumbai,Full-Time,High,1200000.0,2500000.0,9.0,5.0,High,18-06-2024,1.0
96,97,IT,Cloud Engineer,South,Hyderabad,Full-Time,High,900000.0,1800000.0,9.0,5.0,High,19-07-2024,NaN

In [ ]:
# 18. Find jobs with growth rate ≥ 9.
growth = df[df["Growth_Rate(1-10)"] >= 9]
growth

,Job_id,Industry,Job_Role,Region,City,Employment_Status,Industry_Demand,Min_Salary,Max_Salary,Growth_Rate(1-10),Skill_Rate(1-5),Availability,Joining_Date,Experience(in Year)
0,1,Technology,Engineer,South,Bangalore,Full-time,High Demand,45000.0,90000.0,9.0,4.5,High,01-02-2016,9.0
7,8,Finance,Financial Analyst,West,Mumbai,Contract,Stable Growth,40000.0,80000.0,9.0,4.5,Medium,10-10-2016,9.0
10,11,IT,DevOps Engineer,North,Gurgaon,Full-time,Moderate,50000.0,100000.0,9.5,4.6,High,26-01-2017,8.0
13,14,Information Technology,Data Scientist,South,Bangalore,Full-Time,High,1200000.0,2500000.0,9.0,5.0,High,14-05-2017,8.0
15,16,Information Technology,Blockchain Engineer,North,Delhi,Full-Time,High,1000000.0,NaN,9.0,5.0,High,25-07-2019,6.0
17,18,Information Technology,Cyber Security Engineer,South,Hyderabad,Full-Time,High,1000000.0,1800000.0,9.0,5.0,High,05-10-2017,8.0
18,19,Information Technology,Cloud Developer,South,Bangalore,Full-Time,High,1200000.0,2200000.0,9.0,5.0,High,10-11-2021,4.0
22,23,Management,Product Manager,South,Hyderabad,Full-Time,High,1500000.0,3000000.0,9.0,5.0,High,03-04-2024,1.0
29,30,Information Technology,AI/ML Engineer,South,Bangalore,Full-Time,High,1400000.0,2800000.0,9.0,5.0,High,11-12-2018,NaN
37,38,Finance,Investment Analyst,West,Mumbai,Full-Time,High,1200000.0,2400000.0,9.0,5.0,High,25-09-2016,9.0
53,54,Information Technology,Full Stack Developer,South,Chennai,Full-Time,High,1000000.0,2000000.0,9.0,5.0,High,23-04-2020,5.0
59,60,Information Technology,AI Trainer,South,Hyderabad,Full-Time,High,1000000.0,2000000.0,9.0,5.0,High,25-11-2023,2.0
74,75,Information Technology,AI/ML Engineer,South,Bangalore,Full-Time,High,1400000.0,2800000.0,9.0,5.0,High,19-05-2018,7.0
85,86,Finance,Investment Banker,West,Mumbai,Full-Time,High,1200000.0,2500000.0,9.0,5.0,High,18-06-2024,1.0
96,97,IT,Cloud Engineer,South,Hyderabad,Full-Time,High,900000.0,1800000.0,9.0,5.0,High,19-07-2024,NaN

In [ ]:
# 19. Display part-time or contract jobs.
parttime_or_contract_job= df[df["Employment_Status"].isin(["Part-time","Contract"])]
parttime_or_contract_job

,Job_id,Industry,Job_Role,Region,City,Employment_Status,Industry_Demand,Min_Salary,Max_Salary,Growth_Rate(1-10),Skill_Rate(1-5),Availability,Joining_Date,Experience(in Year)
3,4,Education,Online Educator,North,Delhi,Contract,Stable Growth,25000.0,50000.0,6.5,3.8,Medium,19-05-2016,9.0
5,6,Retail,E-commerce Manager,South,Chennai,Part-time,High Demand,30000.0,75000.0,NaN,4.0,High,30-07-2019,6.0
7,8,Finance,Financial Analyst,West,Mumbai,Contract,Stable Growth,40000.0,80000.0,9.0,4.5,Medium,10-10-2016,9.0
11,12,Retail,Sales Executive,West,Pune,Part-time,Stable Growth,24000.0,45000.0,5.5,NaN,Medium,03-03-2017,8.0
24,25,Finance,Financial Analyst,West,Mumbai,Contract,Moderate,500000.0,1000000.0,NaN,4.0,Medium,14-06-2025,0.0
27,28,Healthcare,Medical Coder,North,Gurugram,Contract,Stable Demand,350000.0,700000.0,7.0,3.0,Medium,30-09-2016,9.0
31,32,Marketing,SEO Specialist,West,Mumbai,Contract,Moderate,400000.0,800000.0,7.0,3.0,Medium,21-02-2020,5.0
36,37,Management,Business Analyst,North,Gurugram,Contract,High,700000.0,1400000.0,8.0,4.0,Medium,20-08-2025,0.0
43,44,Marketing,Email Marketing Specialist,West,Mumbai,Contract,Stable Growth,300000.0,600000.0,7.0,3.0,Medium,28-04-2022,3.0
48,49,Healthcare,Laboratory Technician,East,Kolkata,Contract,Moderate,250000.0,600000.0,6.0,3.0,Medium,25-10-2017,8.0
52,53,Design & UX,Motion Graphics Designer,South,Hyderabad,Contract,Moderate,350000.0,700000.0,7.0,4.0,Medium,18-03-2019,6.0
56,57,Information Technology,Security Analyst,South,Bangalore,Contract,High,600000.0,1200000.0,8.0,4.0,Medium,09-08-2023,2.0
60,61,Marketing,Market Research Analyst,West,Pune,Contract,Stable Growth,400000.0,800000.0,7.0,4.0,Medium,31-12-2025,0.0
63,64,Finance,Business Consultant,West,Mumbai,Contract,Stable Growth,500000.0,1200000.0,8.0,4.0,Medium,18-04-2022,3.0
65,66,Finance,Financial Analyst,West,Mumbai,Contract,Moderate,500000.0,1000000.0,7.0,4.0,Medium,29-06-2024,1.0
71,72,Legal,Corporate Lawyer,North,Gurugram,Contract,High,1000000.0,2000000.0,8.0,5.0,Medium,31-01-2019,6.0
77,78,Marketing,Social Media Manager,West,Pune,Contract,Stable Growth,350000.0,800000.0,7.0,4.0,Medium,04-09-2025,0.0
82,83,Legal,Paralegal,North,Delhi,Contract,Moderate,300000.0,600000.0,7.0,3.0,Medium,02-03-2016,9.0
91,92,Finance,Compliance Officer,North,Gurugram,Contract,High,600000.0,1200000.0,8.0,4.0,Medium,20-01-2016,9.0

In [ ]:
#20. Filter jobs where availability is high.
high_availability = df[df["Availability"] == "High"]
high_availability

,Job_id,Industry,Job_Role,Region,City,Employment_Status,Industry_Demand,Min_Salary,Max_Salary,Growth_Rate(1-10),Skill_Rate(1-5),Availability,Joining_Date,Experience(in Year)
0,1,Technology,Engineer,South,Bangalore,Full-time,High Demand,45000.0,90000.0,9.0,4.5,High,01-02-2016,9.0
2,3,Finance,Fintech Analyst,North,Gurugram,Full-time,High Demand,40000.0,85000.0,8.0,4.2,High,13-04-2016,9.0
5,6,Retail,E-commerce Manager,South,Chennai,Part-time,High Demand,30000.0,75000.0,NaN,4.0,High,30-07-2019,6.0
10,11,IT,DevOps Engineer,North,Gurgaon,Full-time,Moderate,50000.0,100000.0,9.5,4.6,High,26-01-2017,8.0
13,14,Information Technology,Data Scientist,South,Bangalore,Full-Time,High,1200000.0,2500000.0,9.0,5.0,High,14-05-2017,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Sales,Key Account Manager,West,Mumbai,Full-Time,High,NaN,1400000.0,8.0,4.0,High,13-06-2025,0.0
96,97,IT,Cloud Engineer,South,Hyderabad,Full-Time,High,900000.0,1800000.0,9.0,5.0,High,19-07-2024,NaN
97,98,Marketing,Advertising Manager,West,Pune,Full-Time,Moderate,600000.0,1200000.0,8.0,4.0,High,24-08-2018,7.0
98,99,Construction,Site Manager,East,Kolkata,Full-Time,Stable Growth,700000.0,1500000.0,8.0,NaN,High,29-09-2017,8.0
99,100,Engineering,Electrical Engineer,South,Bangalore,Full-Time,High,800000.0,1600000.0,8.0,4.0,High,04-11-2024,1.0

**3. Data Cleaning**

In [ ]:
# 21. Convert Joining_Date into datetime format.
df["Joining_Date"] = pd.to_datetime(df["Joining_Date"], errors='coerce')
df["Joining_Date"]

0    2016-01-02
1    2019-08-03
2           NaT
3           NaT
4           NaT
        ...
95          NaT
96          NaT
97          NaT
98          NaT
99   2024-04-11
Name: Joining_Date, Length: 100, dtype: datetime64[ns]

In [ ]:
# 22.Standardize Employment Status values (Full-time / Full-Time).
df["Employment_Status"] = df["Employment_Status"].replace({
    "Full-Time":"Full-time",
    "full time":"Full-time"
})
df["Employment_Status"]

0      Full-time
1     Internship
2      Full-time
3       Contract
4      Full-time
         ...
95     Full-time
96     Full-time
97     Full-time
98     Full-time
99     Full-time
Name: Employment_Status, Length: 100, dtype: object

In [ ]:
# 23.Rename salary columns for clarity.
df = df.rename(columns={
    "Min_Salary":"Minimum_Salary",
    "Max_Salary":"Maximum_Salary"
})
df

,Job_id,Industry,Job_Role,Region,City,Employment_Status,Industry_Demand,Minimum_Salary,Maximum_Salary,Growth_Rate(1-10),Skill_Rate(1-5),Availability,Joining_Date,Experience(in Year)
0,1,Technology,Engineer,South,Bangalore,Full-time,High Demand,45000.0,90000.0,9.0,4.5,High,2016-01-02,9.0
1,2,Healthcare,Nursing,West,Mumbai,Internship,Moderate,30000.0,60000.0,7.5,4.0,Low,2019-08-03,6.0
2,3,Finance,Fintech Analyst,North,Gurugram,Full-time,High Demand,40000.0,85000.0,8.0,4.2,High,NaT,9.0
3,4,Education,Online Educator,North,Delhi,Contract,Stable Growth,25000.0,50000.0,6.5,3.8,Medium,NaT,9.0
4,5,Manufacturing,Robotics Technician,West,Pune,Full-time,Moderate,35000.0,75000.0,7.0,4.1,Medium,NaT,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Sales,Key Account Manager,West,Mumbai,Full-time,High,NaN,1400000.0,8.0,4.0,High,NaT,0.0
96,97,IT,Cloud Engineer,South,Hyderabad,Full-time,High,900000.0,1800000.0,9.0,5.0,High,NaT,NaN
97,98,Marketing,Advertising Manager,West,Pune,Full-time,Moderate,600000.0,1200000.0,8.0,4.0,High,NaT,7.0
98,99,Construction,Site Manager,East,Kolkata,Full-time,Stable Growth,700000.0,1500000.0,8.0,NaN,High,NaT,8.0
99,100,Engineering,Electrical Engineer,South,Bangalore,Full-time,High,800000.0,1600000.0,8.0,4.0,High,2024-04-11,1.0

In [ ]:
# 24. Detect and handle unrealistic salary values.
df = df[df["Maximum_Salary"] < 500000]
df

,Job_id,Industry,Job_Role,Region,City,Employment_Status,Industry_Demand,Minimum_Salary,Maximum_Salary,Growth_Rate(1-10),Skill_Rate(1-5),Availability,Joining_Date,Experience(in Year)
0,1,Technology,Engineer,South,Bangalore,Full-time,High Demand,45000.0,90000.0,9.0,4.5,High,2016-01-02,9.0
1,2,Healthcare,Nursing,West,Mumbai,Internship,Moderate,30000.0,60000.0,7.5,4.0,Low,2019-08-03,6.0
2,3,Finance,Fintech Analyst,North,Gurugram,Full-time,High Demand,40000.0,85000.0,8.0,4.2,High,NaT,9.0
3,4,Education,Online Educator,North,Delhi,Contract,Stable Growth,25000.0,50000.0,6.5,3.8,Medium,NaT,9.0
4,5,Manufacturing,Robotics Technician,West,Pune,Full-time,Moderate,35000.0,75000.0,7.0,4.1,Medium,NaT,6.0
5,6,Retail,E-commerce Manager,South,Chennai,Part-time,High Demand,30000.0,75000.0,NaN,4.0,High,NaT,6.0
6,7,Energy,Renewable Energy Engineer,South,Hyderabad,Full-time,Emerging,50000.0,95000.0,8.5,4.6,Low,2020-04-09,5.0
7,8,Finance,Financial Analyst,West,Mumbai,Contract,Stable Growth,40000.0,80000.0,9.0,4.5,Medium,2016-10-10,9.0
8,9,Healthcare,Physician,North,Delhi,Full-time,Moderate,50000.0,100000.0,7.5,4.3,Low,NaT,9.0
9,10,Education,Professor,South,Hyderabad,Full-time,Stable Growth,48000.0,95000.0,6.2,4.0,Low,NaT,9.0
10,11,IT,DevOps Engineer,North,Gurgaon,Full-time,Moderate,50000.0,100000.0,9.5,4.6,High,NaT,8.0
11,12,Retail,Sales Executive,West,Pune,Part-time,Stable Growth,24000.0,45000.0,5.5,NaN,Medium,2017-03-03,8.0
12,13,Construction,Civil Engineer,East,Kolkata,Full-time,Moderate,37000.0,75000.0,7.0,4.3,Medium,2016-08-04,9.0
34,35,Education,Online Tutor,North,Delhi,Part-Time,Moderate,150000.0,400000.0,6.0,3.0,High,2023-09-06,2.0
67,68,Education,Online Tutor,North,Delhi,Part-Time,Moderate,150000.0,400000.0,6.0,3.0,High,2022-09-09,3.0

In [ ]:
# 25. Remove duplicate job records if any.
df.drop_duplicates(inplace=True)
df

/tmp/ipython-input-3624653905.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True)

,Job_id,Industry,Job_Role,Region,City,Employment_Status,Industry_Demand,Minimum_Salary,Maximum_Salary,Growth_Rate(1-10),Skill_Rate(1-5),Availability,Joining_Date,Experience(in Year),Average_Salary,Experience_Level,Salary_Category,Demand_Score,Job_Type_Category,IT_NonIT
0,1,Technology,Engineer,South,Bangalore,Full-time,High Demand,45000.0,90000.0,9.0,4.5,High,2016-01-02,9.0,67500.0,Senior,Medium,7.20,Full-time,IT
1,2,Healthcare,Nursing,West,Mumbai,Internship,Moderate,30000.0,60000.0,7.5,4.0,Low,2019-08-03,6.0,45000.0,Mid-Level,Low,6.10,Internship,Non-IT
2,3,Finance,Fintech Analyst,North,Gurugram,Full-time,High Demand,40000.0,85000.0,8.0,4.2,High,NaT,9.0,62500.0,Senior,Medium,6.48,Full-time,Non-IT
3,4,Education,Online Educator,North,Delhi,Contract,Stable Growth,25000.0,50000.0,6.5,3.8,Medium,NaT,9.0,37500.0,Senior,Low,5.42,Contract,Non-IT
4,5,Manufacturing,Robotics Technician,West,Pune,Full-time,Moderate,35000.0,75000.0,7.0,4.1,Medium,NaT,6.0,55000.0,Mid-Level,Medium,5.84,Full-time,Non-IT
5,6,Retail,E-commerce Manager,South,Chennai,Part-time,High Demand,30000.0,75000.0,NaN,4.0,High,NaT,6.0,52500.0,Mid-Level,Medium,NaN,Part-time,Non-IT
6,7,Energy,Renewable Energy Engineer,South,Hyderabad,Full-time,Emerging,50000.0,95000.0,8.5,4.6,Low,2020-04-09,5.0,72500.0,Junior,Medium,6.94,Full-time,Non-IT
7,8,Finance,Financial Analyst,West,Mumbai,Contract,Stable Growth,40000.0,80000.0,9.0,4.5,Medium,2016-10-10,9.0,60000.0,Senior,Medium,7.20,Contract,Non-IT
8,9,Healthcare,Physician,North,Delhi,Full-time,Moderate,50000.0,100000.0,7.5,4.3,Low,NaT,9.0,75000.0,Senior,Medium,6.22,Full-time,Non-IT
9,10,Education,Professor,South,Hyderabad,Full-time,Stable Growth,48000.0,95000.0,6.2,4.0,Low,NaT,9.0,71500.0,Senior,Medium,5.32,Full-time,Non-IT
10,11,IT,DevOps Engineer,North,Gurgaon,Full-time,Moderate,50000.0,100000.0,9.5,4.6,High,NaT,8.0,75000.0,Mid-Level,Medium,7.54,Full-time,Non-IT
11,12,Retail,Sales Executive,West,Pune,Part-time,Stable Growth,24000.0,45000.0,5.5,NaN,Medium,2017-03-03,8.0,34500.0,Mid-Level,Low,NaN,Part-time,Non-IT
12,13,Construction,Civil Engineer,East,Kolkata,Full-time,Moderate,37000.0,75000.0,7.0,4.3,Medium,2016-08-04,9.0,56000.0,Senior,Medium,5.92,Full-time,Non-IT
34,35,Education,Online Tutor,North,Delhi,Part-Time,Moderate,150000.0,400000.0,6.0,3.0,High,2023-09-06,2.0,275000.0,Junior,High,4.80,Part-Time,Non-IT
67,68,Education,Online Tutor,North,Delhi,Part-Time,Moderate,150000.0,400000.0,6.0,3.0,High,2022-09-09,3.0,275000.0,Junior,High,4.80,Part-Time,Non-IT

**SECTION C – FEATURE ENGINEERING**

**4. Derived Columns**

In [ ]:
# 26. Create Average_Salary using Min and Max salary.
df["Average_Salary"] = (df["Minimum_Salary"] + df["Maximum_Salary"]) / 2
print(df["Average_Salary"])

0      67500.0
1      45000.0
2      62500.0
3      37500.0
4      55000.0
5      52500.0
6      72500.0
7      60000.0
8      75000.0
9      71500.0
10     75000.0
11     34500.0
12     56000.0
34    275000.0
67    275000.0
Name: Average_Salary, dtype: float64

/tmp/ipython-input-1392622998.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Average_Salary"] = (df["Minimum_Salary"] + df["Maximum_Salary"]) / 2

In [ ]:
# 27. Create Experience_Level: (Junior (≤5 years), Mid-Level (6–8 years), Senior (>8 years))
def exp_level(x):
    if x <= 5:
        return "Junior"
    elif x <= 8:
        return "Mid-Level"
    else:
        return "Senior"

df["Experience_Level"] = df["Experience(in Year)"].apply(exp_level)
df["Experience_Level"]

/tmp/ipython-input-1259365267.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Experience_Level"] = df["Experience(in Year)"].apply(exp_level)

0        Senior
1     Mid-Level
2        Senior
3        Senior
4     Mid-Level
5     Mid-Level
6        Junior
7        Senior
8        Senior
9        Senior
10    Mid-Level
11    Mid-Level
12       Senior
34       Junior
67       Junior
Name: Experience_Level, dtype: object

In [ ]:
# 28. Create Salary_Category( Low (<₹50,000), Medium (₹50,000–₹1,00,000), High (>₹1,00,000))
def sal_cat(x):
    if x < 50000:
        return "Low"
    elif x <= 100000:
        return "Medium"
    else:
        return "High"

df["Salary_Category"] = df["Average_Salary"].apply(sal_cat)
print(df["Salary_Category"])

0     Medium
1        Low
2     Medium
3        Low
4     Medium
5     Medium
6     Medium
7     Medium
8     Medium
9     Medium
10    Medium
11       Low
12    Medium
34      High
67      High
Name: Salary_Category, dtype: object

/tmp/ipython-input-1750479830.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Salary_Category"] = df["Average_Salary"].apply(sal_cat)

In [ ]:
#29. Create Demand_Score combining Industry Demand and Growth Rate.
df["Demand_Score"] = df["Growth_Rate(1-10)"] * 0.6 + \
                     df["Skill_Rate(1-5)"] * 0.4
df["Demand_Score"]

/tmp/ipython-input-1990897888.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Demand_Score"] = df["Growth_Rate(1-10)"] * 0.6 + \

0     7.20
1     6.10
2     6.48
3     5.42
4     5.84
5      NaN
6     6.94
7     7.20
8     6.22
9     5.32
10    7.54
11     NaN
12    5.92
34    4.80
67    4.80
Name: Demand_Score, dtype: float64

In [ ]:
# 30. Create Job_Type_Category based on Employment Status.
df["Job_Type_Category"] =df["Employment_Status"]
df["Job_Type_Category"]

/tmp/ipython-input-4088080191.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Job_Type_Category"] =df["Employment_Status"]

0      Full-time
1     Internship
2      Full-time
3       Contract
4      Full-time
5      Part-time
6      Full-time
7       Contract
8      Full-time
9      Full-time
10     Full-time
11     Part-time
12     Full-time
34     Part-Time
67     Part-Time
Name: Job_Type_Category, dtype: object

**SECTION D – GROUPING & AGGREGATION**

**5. Statistical Analysis**

In [ ]:
# 31. Calculate average minimum salary by industry.
df.groupby("Industry")["Minimum_Salary"].mean()

Industry
Construction     37000.0
Education        93250.0
Energy           50000.0
Finance          40000.0
Healthcare       40000.0
IT               50000.0
Manufacturing    35000.0
Retail           27000.0
Technology       45000.0
Name: Minimum_Salary, dtype: float64

In [ ]:
# 32. Calculate average maximum salary by industry.
df.groupby("Industry")["Maximum_Salary"].mean()

Industry
Construction      75000.0
Education        236250.0
Energy            95000.0
Finance           82500.0
Healthcare        80000.0
IT               100000.0
Manufacturing     75000.0
Retail            60000.0
Technology        90000.0
Name: Maximum_Salary, dtype: float64

In [ ]:
#33. Find average growth rate by industry.
df.groupby("Industry")["Growth_Rate(1-10)"].mean()

Industry
Construction     7.000
Education        6.175
Energy           8.500
Finance          8.500
Healthcare       7.500
IT               9.500
Manufacturing    7.000
Retail           5.500
Technology       9.000
Name: Growth_Rate(1-10), dtype: float64

In [ ]:
#34. Calculate average skill rate by job role.
print(df.groupby("Job_Role")["Skill_Rate(1-5)"].mean())

Job_Role
Civil Engineer               4.3
DevOps Engineer              4.6
E-commerce Manager           4.0
Engineer                     4.5
Financial Analyst            4.5
Fintech Analyst              4.2
Nursing                      4.0
Online Educator              3.8
Online Tutor                 3.0
Physician                    4.3
Professor                    4.0
Renewable Energy Engineer    4.6
Robotics Technician          4.1
Sales Executive              NaN
Name: Skill_Rate(1-5), dtype: float64

In [ ]:
#35. Find average experience required by industry.
df.groupby("Industry")["Experience(in Year)"].mean()

Industry
Construction     9.00
Education        5.75
Energy           5.00
Finance          9.00
Healthcare       7.50
IT               8.00
Manufacturing    6.00
Retail           7.00
Technology       9.00
Name: Experience(in Year), dtype: float64

**6. Comparative Analysis**

In [ ]:
#36. Compare average salaries across Regions.
print(df.groupby("Region")["Average_Salary"].mean())

Region
East      56000.000000
North    133333.333333
South     66000.000000
West      48625.000000
Name: Average_Salary, dtype: float64

In [ ]:
# 37. Compare Technology vs Healthcare salaries.
compare = df[df["Industry"].isin(["Technology","Healthcare"])]
print(compare.groupby("Industry")["Average_Salary"].mean())

Industry
Healthcare    60000.0
Technology    67500.0
Name: Average_Salary, dtype: float64

In [ ]:
# 38. Analyze the relationship between experience and salary.
df[["Experience(in Year)","Average_Salary"]].corr()

                     Experience(in Year)  Average_Salary
Experience(in Year)             1.000000       -0.777539
Average_Salary                 -0.777539        1.000000

In [ ]:
# 39. Compare growth rate for IT vs Non-IT jobs.
df["IT_NonIT"] = df["Industry"].apply(
    lambda x: "IT" if x=="Technology" else "Non-IT"
)
print(df.groupby("IT_NonIT")["Growth_Rate(1-10)"].mean())

IT_NonIT
IT        9.000000
Non-IT    7.246154
Name: Growth_Rate(1-10), dtype: float64

/tmp/ipython-input-3050838759.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["IT_NonIT"] = df["Industry"].apply(

In [ ]:
#40. Compare demand level vs availability.
pd.crosstab(df["Industry_Demand"], df["Availability"])

Availability     High  Low  Medium
Industry_Demand
Emerging            0    1       0
High Demand         3    0       0
Moderate            3    2       2
Stable Growth       0    1       3

**SECTION E – ADVANCED INSIGHTS**

**7. Market Trend Analysis**

In [ ]:
# 41. Identify the top 5 highest paying jobs.
top5job = df.sort_values("Maximum_Salary", ascending=False).head(5)
top5job[["Job_Role","Maximum_Salary"]]

                     Job_Role  Maximum_Salary
34               Online Tutor        400000.0
67               Online Tutor        400000.0
8                   Physician        100000.0
10            DevOps Engineer        100000.0
6   Renewable Energy Engineer         95000.0

In [ ]:
#42. Find jobs with high growth but low availability.
Jobwith_highgrowth_lowavail = df[
    (df["Growth_Rate(1-10)"] >= 8) &
    (df["Availability"] == "Low")
]
Jobwith_highgrowth_lowavail

,Job_id,Industry,Job_Role,Region,City,Employment_Status,Industry_Demand,Minimum_Salary,Maximum_Salary,Growth_Rate(1-10),Skill_Rate(1-5),Availability,Joining_Date,Experience(in Year),Average_Salary,Experience_Level,Salary_Category,Demand_Score,Job_Type_Category,IT_NonIT
6,7,Energy,Renewable Energy Engineer,South,Hyderabad,Full-time,Emerging,50000.0,95000.0,8.5,4.6,Low,2020-04-09,5.0,72500.0,Junior,Medium,6.94,Full-time,Non-IT